<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="renderer" content="webkit">

    <title>Camera Stream!!!</title>

    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Camera Stream</a>
        <a class="navbar-brand" href="#" id="logout_button">Logout</a>
    </nav>
    <div class="container">

        <div class="starter-template">
            <h1>Home Live Stream</h1>
            <img src="http://127.0.0.1:7777/api/streaming?token={{ token }}" />
            <br>

            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary btn-action" data-action="up">Up</button>
                <button type="button" class="btn btn-secondary btn-action" data-action="down">Down</button>
                <button type="button" class="btn btn-secondary btn-action" data-action="left">Left</button>
                <button type="button" class="btn btn-secondary btn-action" data-action="right">Right</button>
            </div>
        </div>

    </div>
    <!-- /.container -->
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js')  }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js')  }}"></script>
    <script>
        $('.btn-action').click(function () {
            var action = $(this).data('action');
            $.post('/api/control', { 'action': action }, function (data) {
                alert('Action ' + action + ' success with message: ' + JSON.stringify(data));
                // you can get data.status
            }).fail(function () {
                alert('Action ' + action + ' failed!');
            });
        });

        $('#logout_button').click(function() {
            $.get('/api/logout', {}, function (data) {
                location = '/login';
            })
        })

    </script>
</body>

</html>